*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a, a:hover {
  text-decoration: none;
  color:#000;
}

/*font-family: 'Open Sans', sans-serif - 300 - 400 - 700 ;
font-family: 'Playfair Display', serif; - 400 - 500 - 800 */


.font {
  font-size: 1.3rem;
  font-weight: 800;
  font-family: 'Playfair Display', serif;
}

.font-1 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif
}

.font-2 {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif
}

.btn-wp {
  background-color: #00E676;
}

.btn-wp:hover {
  background-color: #16d177;
}

.link-btn-home {
  background-color: #FC0318;
  color:white;
}

.link-btn-home:hover {
  background-color: #da1b2b;
  color:white;
}

@media only screen and (min-width: 768px) { 
  .p-lg-2 {
    padding: 10px;
  }
}